{{#if this.visible}}
    <div class="loader-box">
        <div class="loading">Loading&#8230;</div>
        {{#if this.text}}
            <div class="loading-text">{{this.text}}</div>
        {{/if}}
    </div>
{{/if}}