.page-title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.user-list, .user-form {
    width: 80%;
    margin: 0 auto;
}

.user-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-title {
    background-color: rgba(86, 61, 124, .15);
}

.user-item {
    margin: 0 auto;
    text-align: center;
}

[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(86, 61, 124, .2);
}

.col-6 {
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}