<div class="page-title">
  <h3>Users</h3>
</div>
<div class="user-header row justify-content-center">
  {{#link-to "users.new" class="btn btn-primary"}}Create User{{/link-to}}
</div>
<div class="user-list">
  <div>
    <div class="row">
      <div class="col-sm user-title">
        Name
      </div>
      <div class="col-sm user-title">
        Address
      </div>
      <div class="col-sm user-title">
        Edit
      </div>
    </div>
  </div>
  {{#each this.model as |user|}}
    <div class="row">
      <div class="col-sm user-item">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="col-sm user-item">
        {{user.address}}
      </div>
      <div class="col-sm user-item">
        {{#link-to "users.edit" user.id class="btn btn-info"}}Edit{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>