<div class="loading-holder">
  <div class="loading-page">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-text">Getting Data</div>
  </div>
</div>